codes/퀘스트/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        192,
        -16
      ],
      "id": "8a49858b-5e51-40a8-8406-bd49b7da15ab",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/todos/2",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        -16
      ],
      "id": "bd0c01f6-8407-4f7d-bc71-c1fe65ee979b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af1b04ee-0265-4680-9cc2-429e3156ef12",
              "name": "유저아이디",
              "value": "={{ $json.userId }}",
              "type": "number"
            },
            {
              "id": "c3b7343b-91c3-4e53-b703-4cec96f26ed4",
              "name": "타이틀",
              "value": "={{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -16
      ],
      "id": "16014e0a-94cb-421a-8616-821e133e924c",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "67d4631a-9589-4abe-b8b8-c53bb36add06",
  "meta": {
    "instanceId": "55386bc8cf916a9d61ab8ada00c0c75d1b9c7cf0c1a55d975f34db88e4307f69"
  },
  "id": "pXM7djC3HyHJZsUm",
  "tags": []
}