codes/퀘스트/My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "chatId": "7835943162",
        "text": "=n8n 에서 보냅니다.\nxml형식입니다.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        368
      ],
      "id": "d5a59043-4e25-4595-82dd-56dc276d431b",
      "name": "Send a text message",
      "webhookId": "f04af8fb-35f5-4efc-97b0-46588468da73",
      "credentials": {
        "telegramApi": {
          "id": "Xdg4jYn2xnWNFp5k",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -288,
        480
      ],
      "id": "14876cd9-76ca-4b6b-a1a8-2e508a4ac765",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.chosun.com/arc/outboundfeeds/rss/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "outputType",
              "value": "xml"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        368
      ],
      "id": "8c6a25f0-309f-4b9c-8f4a-5a491b2e80d0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://www.yna.co.kr/rss/industry.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        64,
        704
      ],
      "id": "db95e4b5-e37f-4551-ab12-7e1c8a5b7d1a",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 3,
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        272,
        704
      ],
      "id": "273a20e0-be97-4fb0-9bbe-7402db79e912",
      "name": "Limit"
    },
    {
      "parameters": {
        "chatId": "7835943162",
        "text": "=n8n 에서 보냅니다.\n제목: {{ $json.title }}\n발행일 : {{ $json.pubDate }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        704
      ],
      "id": "1ca7a7ad-e527-4648-b4d0-f7693b33552c",
      "name": "Send a text message1",
      "webhookId": "f04af8fb-35f5-4efc-97b0-46588468da73",
      "credentials": {
        "telegramApi": {
          "id": "Xdg4jYn2xnWNFp5k",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3cc6b993-5919-46fa-9af3-1e13b8de6b64",
  "meta": {
    "instanceId": "55386bc8cf916a9d61ab8ada00c0c75d1b9c7cf0c1a55d975f34db88e4307f69"
  },
  "id": "7hoCQ0bajtFcTIM2",
  "tags": []
}