docs/_12_Controls_ifs_GoogleFiles (1).json
{
  "name": "/12_Controls_ifs_GoogleFiles",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1UwccuRtTeioQZ8UqUUbbx00tNMcoUe2Q",
          "mode": "list",
          "cachedResultName": "triggers",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1UwccuRtTeioQZ8UqUUbbx00tNMcoUe2Q"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        -96
      ],
      "id": "f29f0db0-d352-43e7-8456-9d6ca39b2d6c",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CLew9emlaimHMeDS",
          "name": "qped123"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "86639ccd-eac0-4b5d-b2b3-f73f0e5b6ced",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.google-apps.spreadsheet",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        -80
      ],
      "id": "29ad472b-c9ab-479e-8814-40a71e53ba58",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "86639ccd-eac0-4b5d-b2b3-f73f0e5b6ced",
              "leftValue": "={{ $('Google Drive Trigger').item.json.mimeType }}",
              "rightValue": "text/csv",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -528,
        208
      ],
      "id": "6b21a2ab-6395-4c2a-b096-dacd5c4200e7",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "86639ccd-eac0-4b5d-b2b3-f73f0e5b6ced",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.google-apps.document",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        -256
      ],
      "id": "ad7ae1d7-a3a4-45c9-9d70-9beb09e0e6f1",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        96,
        -304
      ],
      "id": "c105b2b0-9992-4ef8-bf6b-fa26c934f865",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "i8arn3feZyiRw7z9",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Iq1tQZjOJ8rYq0Waeh8HtUf686Ub1FqjeDxdQ7aJCRw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        -80
      ],
      "id": "a366f5fe-222a-4b76-b05c-1a06b30bd04d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5yCo6E6ZVFSxFWWn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=해당 문서 내용을 반드시 한 줄로 일목정연하게 요약 해줘. n8n에서 그대로 사용할 수 있도록 그 어떤 코멘트도 사용하지 말아줘.\n\n\n{{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        720,
        -256
      ],
      "id": "dcd9cf2e-b4bb-4b9e-a195-c992c39f2e31",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "XKSQUr0YSleiaMAG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "주요 긍정 피드백"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "id": "784e1caf-9fbe-4ba1-a5f2-1b5925ddb490",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dyvj9-LEm7YpSsQ2FxGjGMefG2Isg_Ai0tfx0TtpiEc/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "2025_10",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dyvj9-LEm7YpSsQ2FxGjGMefG2Isg_Ai0tfx0TtpiEc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "한줄 정리": "={{ $json.content.parts[0].text }}",
            "입력 날짜": "={{ $('Google Drive Trigger').item.json.modifiedTime }}",
            "파일 종류": "={{ $('Google Drive Trigger').item.json.mimeType }}",
            "파일명": "={{ $('Google Drive Trigger').item.json.name }}",
            "파일 링크": "={{ $('Google Drive Trigger').item.json.webViewLink }}"
          },
          "matchingColumns": [
            "파일 링크"
          ],
          "schema": [
            {
              "id": "한줄 정리",
              "displayName": "한줄 정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "입력 날짜",
              "displayName": "입력 날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 종류",
              "displayName": "파일 종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일명",
              "displayName": "파일명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 링크",
              "displayName": "파일 링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        -48
      ],
      "id": "7642a24f-73b5-40e7-8487-590b4f0e6037",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5yCo6E6ZVFSxFWWn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1naxCtsU-2Y258QiLwytRgXa4ky09gbhW",
          "mode": "list",
          "cachedResultName": "pdfs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1naxCtsU-2Y258QiLwytRgXa4ky09gbhW"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1504,
        -272
      ],
      "id": "a532330f-2f13-457f-b7e3-1ef0519de057",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CLew9emlaimHMeDS",
          "name": "qped123"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        48,
        64
      ],
      "id": "cee97a5c-a8a5-462b-ae05-2eb5a3c70341",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CLew9emlaimHMeDS",
          "name": "qped123"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1jp8ZFlNUKk85Ge3tIZbL1q4zcx6Kljxn",
          "mode": "list",
          "cachedResultName": "cvs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1jp8ZFlNUKk85Ge3tIZbL1q4zcx6Kljxn"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1616,
        96
      ],
      "id": "a7b71a2a-a5ba-46cc-8805-e989ce41a412",
      "name": "Move file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CLew9emlaimHMeDS",
          "name": "qped123"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f18f64af-7661-4afb-af1e-8f4f15d34c9a",
              "leftValue": "={{ $('Google Drive Trigger').item.json.mimeType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1088,
        -48
      ],
      "id": "7bd8a524-26ca-4a67-9ae4-1e939221c43e",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f18f64af-7661-4afb-af1e-8f4f15d34c9a",
              "leftValue": "={{ $('Google Drive Trigger').item.json.mimeType }}",
              "rightValue": "text/csv",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1376,
        224
      ],
      "id": "5bae83ac-08c9-4425-b20f-873817505605",
      "name": "If4"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1nZX_3dbDFf945uUK97T2yD7K8lBp7v9-",
          "mode": "list",
          "cachedResultName": "sheets",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1nZX_3dbDFf945uUK97T2yD7K8lBp7v9-"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1616,
        320
      ],
      "id": "bd3f5040-5042-4975-b29f-bb823b549ca8",
      "name": "Move file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CLew9emlaimHMeDS",
          "name": "qped123"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1uNUoirZUeLqTm19odH4VITq0kzAAV705",
          "mode": "list",
          "cachedResultName": "etcs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1uNUoirZUeLqTm19odH4VITq0kzAAV705"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        512
      ],
      "id": "64b83024-1028-4ae3-828d-4575226ae811",
      "name": "Move file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CLew9emlaimHMeDS",
          "name": "qped123"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=7835943162",
        "text": "={{ $('Google Drive Trigger').item.json.originalFilename }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        512
      ],
      "id": "17b8a850-c485-4a2b-8bd9-bfd152171ca8",
      "name": "Send a text message",
      "webhookId": "e26a7bd1-2ab1-40a6-8c1f-b1d29bda690d",
      "credentials": {
        "telegramApi": {
          "id": "U55jMDD3lkO0ybPn",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8dc72c56-5e7d-401c-a048-117ba53ecf7a",
              "leftValue": "={{ $('Google Drive Trigger').item.json.mimeType }}",
              "rightValue": "application/vnd.google-apps.document",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        96
      ],
      "id": "e613a8bf-1366-4cd0-880a-3b9709855d0a",
      "name": "If5"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ZG6gO-UOL3ayjiJ0YUt3ky3B5Ja0tuxg",
          "mode": "list",
          "cachedResultName": " docs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ZG6gO-UOL3ayjiJ0YUt3ky3B5Ja0tuxg"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1584,
        -96
      ],
      "id": "7187b208-9d60-45d2-81a1-e9ef3d653195",
      "name": "Move file4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CLew9emlaimHMeDS",
          "name": "qped123"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f18f64af-7661-4afb-af1e-8f4f15d34c9a",
              "leftValue": "={{ $('Google Drive Trigger').item.json.mimeType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        384
      ],
      "id": "ca858af7-0f05-4bce-aaf8-94615810ffca",
      "name": "If6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        384,
        208
      ],
      "id": "54370740-dec0-4051-9e8e-62c8b006429c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        64,
        352
      ],
      "id": "10e309fa-37bc-4520-82cc-7485042c35e1",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CLew9emlaimHMeDS",
          "name": "qped123"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        384,
        352
      ],
      "id": "52ff339e-8956-46ec-ad77-59feaee31a0f",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dyvj9-LEm7YpSsQ2FxGjGMefG2Isg_Ai0tfx0TtpiEc/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "2025_10",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dyvj9-LEm7YpSsQ2FxGjGMefG2Isg_Ai0tfx0TtpiEc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "한줄 정리": "={{ $json.content.parts[0].text }}",
            "입력 날짜": "={{ $('Google Drive Trigger').item.json.modifiedTime }}",
            "파일 종류": "={{ $('Google Drive Trigger').item.json.mimeType }}",
            "파일명": "={{ $('Google Drive Trigger').item.json.name }}",
            "파일 링크": "={{ $('Google Drive Trigger').item.json.webViewLink }}"
          },
          "matchingColumns": [
            "파일 링크"
          ],
          "schema": [
            {
              "id": "한줄 정리",
              "displayName": "한줄 정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "입력 날짜",
              "displayName": "입력 날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 종류",
              "displayName": "파일 종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일명",
              "displayName": "파일명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 링크",
              "displayName": "파일 링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        512
      ],
      "id": "2e2b2ebd-18f3-4af9-98c0-2093845b6658",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5yCo6E6ZVFSxFWWn",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        []
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Move file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Move file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Move file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Move file4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "975ca733-1f30-47e0-9d08-beda474c169f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e9c7fec5e91696143ba8bf69309f0b2604712b6e8ae7c6a8e96ee4cbeb2f8a2"
  },
  "id": "lcAVlMuZdeum0bc3",
  "tags": []
}