docs/learn_Google Drive ai요약.json
{
  "name": "learn_Google Drive ai요약",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1ASh_SZzoo67JbVbuop_XJ5JtUwoDlCk3",
          "mode": "list",
          "cachedResultName": "n8ns_triggers",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ASh_SZzoo67JbVbuop_XJ5JtUwoDlCk3"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        -96
      ],
      "id": "3e387c0d-d855-4cc0-b90b-9c8f8c803fc0",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CZI93dNUcrHJh39O",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "97145b4f-9d1b-4a62-9e9b-8200d45f3f9a",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.google-apps.document",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        -96
      ],
      "id": "756c32b6-f4e7-4831-8e7e-953a88fe0925",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hlSA3KEm4F6iCg1oA7Z9hLAM4jjfo0mXxD9deq9NLF0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        0
      ],
      "id": "5a602e9c-a47c-4788-a522-d6fe83907913",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5yCo6E6ZVFSxFWWn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=분석 내용 한줄로 정리 \n{{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1008,
        0
      ],
      "id": "9fafcfd0-9122-4a58-b7ee-6c65d2008d4b",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "XKSQUr0YSleiaMAG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1dyvj9-LEm7YpSsQ2FxGjGMefG2Isg_Ai0tfx0TtpiEc/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "2025_10",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dyvj9-LEm7YpSsQ2FxGjGMefG2Isg_Ai0tfx0TtpiEc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "한줄 정리": "={{ $json.content.parts[0].text }}",
            "파일 종류": "={{ $('If').item.json.mimeType }}",
            "입력 날짜": "={{ $('Google Drive Trigger').item.json.createdTime }}",
            "파일명": "={{ $('Google Drive Trigger').item.json.name }}",
            "파일 링크": "={{ $('Google Drive Trigger').item.json.webViewLink }}"
          },
          "matchingColumns": [
            "파일 링크"
          ],
          "schema": [
            {
              "id": "한줄 정리",
              "displayName": "한줄 정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "입력 날짜",
              "displayName": "입력 날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "파일 종류",
              "displayName": "파일 종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일명",
              "displayName": "파일명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 링크",
              "displayName": "파일 링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        -144
      ],
      "id": "2a9b5b99-5ea9-416c-8ace-1e043b4e6ef0",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5yCo6E6ZVFSxFWWn",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "주요 긍정 피드백"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        592,
        0
      ],
      "id": "245bbfa6-dfca-4826-a910-8529cbdc46a7",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1cVKV260O3LHsmyYPCRiUlknvDFcxVUfI",
          "mode": "list",
          "cachedResultName": "n8ns_pasts",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1cVKV260O3LHsmyYPCRiUlknvDFcxVUfI"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1568,
        -144
      ],
      "id": "53d55bbb-3592-405e-b7b4-379190e8ef8f",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CLew9emlaimHMeDS",
          "name": "qped123"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        608,
        128
      ],
      "id": "a58a678a-4d3c-4b45-aff2-5d68a35a1774",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "i8arn3feZyiRw7z9",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        416,
        -160
      ],
      "id": "218ba29f-bac7-4591-83b0-de4c86ff4a4a",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "i8arn3feZyiRw7z9",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        624,
        -160
      ],
      "id": "97c4759e-b08c-463f-ba34-33abae0b3f52",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=분석 내용 한줄로 정리 \n{{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        800,
        -160
      ],
      "id": "4d19869e-0887-45b1-8abe-9e6155c7c25e",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "XKSQUr0YSleiaMAG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0943429b-9b68-4c7f-879f-6a4c53ec0588",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e9c7fec5e91696143ba8bf69309f0b2604712b6e8ae7c6a8e96ee4cbeb2f8a2"
  },
  "id": "Qz3QXLmDPA5UngQ7",
  "tags": []
}