docs/My workflow 7.json
{
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -672,
        -240
      ],
      "id": "88a6d223-9aa5-4c42-9e51-4c3b91630c66",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1HmQrpL4QRcsd-dL_YDElvOehCqYQfBBHqTDhp0tJmQg/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HmQrpL4QRcsd-dL_YDElvOehCqYQfBBHqTDhp0tJmQg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -464,
        -240
      ],
      "id": "69bfcf87-c60d-42c2-85b7-0b91130f5039",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EJhHBczqKSR7nGmh",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -992,
        176
      ],
      "id": "b0a7c910-a6ef-479c-9a7d-23abf56c386c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json[\"분석 뉴스 기사 URL\"] }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -336,
        192
      ],
      "id": "e607777b-33d4-4c15-b6c3-a569c130801b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b5f3963-23de-4f3a-a4c6-3cfaf515e9ff",
              "name": "row_number",
              "value": "={{ $('Get row(s) in sheet').item.json.row_number }}",
              "type": "number"
            },
            {
              "id": "7a60b2a0-d563-4a45-8330-9fbd841a4497",
              "name": "분석 뉴스 기사 URL",
              "value": "={{ $('Get row(s) in sheet').item.json['분석 뉴스 기사 URL'] }}",
              "type": "string"
            },
            {
              "id": "f5fb96e5-8fdc-40e4-85f6-1881902ea415",
              "name": "key_valve",
              "value": "={{ $('Get row(s) in sheet').item.json.row_number }}{{ $('Get row(s) in sheet').item.json['분석 뉴스 기사 URL'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        192
      ],
      "id": "e8fc0e5d-e238-4e48-bc91-7d65b3041258",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hyW5nzYd8SduWtFl2s1Y4TcGUNDLJ3Ju-ypIXC-re3I/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2042530790,
          "mode": "list",
          "cachedResultName": "시트2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hyW5nzYd8SduWtFl2s1Y4TcGUNDLJ3Ju-ypIXC-re3I/edit#gid=2042530790"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "분석 뉴스 기사 URL": "={{ $json['분석 뉴스 기사 URL'] }}",
            "key_valve": "={{ $json.key_valve }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "분석 뉴스 기사 URL",
              "displayName": "분석 뉴스 기사 URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "key_valve",
              "displayName": "key_valve",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "기사요약",
              "displayName": "기사요약",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "한줄평",
              "displayName": "한줄평",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "대량 발송 여부",
              "displayName": "대량 발송 여부",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        192
      ],
      "id": "5f110c2f-68db-4298-93fa-a4b086ddeba4",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EJhHBczqKSR7nGmh",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=너는 정리의 신이야.\n다음 기사를 읽고 정리해줘\n형식을 지켜줘\n  - 전체 응답은 반드시 유효한 JSON 객체여야 한다.\n  - 어떠한 설명이나 인사말, ```json 같은 마크다운 코드 블록 없이, 응답은 반드시 { 로 시작해서 `}` 로 끝나야 한다.\n\n\n[정리 대상 기사]\n\n{{ $json['분석 뉴스 기사 URL'] }}\n\n**[출력 예시 구조 - JSON]**\n{\n  \"오늘 날짜\" :TEXT,\n  \"기사 제목\": TEXT,\n  \"100자내외 요약\": TEXT,\n  \"한줄평\": TEXT\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        288,
        192
      ],
      "id": "a3a52c30-7912-4158-b72a-3f85d08b6114",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "4M2qBP8og54z7Eab",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1b07e2d-ffa6-46a9-8837-854ceae93dae",
              "name": "content",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        160
      ],
      "id": "e7cb0728-bb8b-4223-966b-7e89ee4f4e2a",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hyW5nzYd8SduWtFl2s1Y4TcGUNDLJ3Ju-ypIXC-re3I/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2042530790,
          "mode": "list",
          "cachedResultName": "시트2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hyW5nzYd8SduWtFl2s1Y4TcGUNDLJ3Ju-ypIXC-re3I/edit#gid=2042530790"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "기사요약": "={{ $json.content['100자내외 요약'] }}",
            "key_valve": "={{ $('Edit Fields1').item.json.key_valve }}",
            "한줄평": "={{ $json.content['한줄평'] }}"
          },
          "matchingColumns": [
            "key_valve"
          ],
          "schema": [
            {
              "id": "분석 뉴스 기사 URL",
              "displayName": "분석 뉴스 기사 URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "key_valve",
              "displayName": "key_valve",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "기사요약",
              "displayName": "기사요약",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "한줄평",
              "displayName": "한줄평",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "대량 발송 여부",
              "displayName": "대량 발송 여부",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        160
      ],
      "id": "5e0abf14-f1f2-4cb1-8745-e20d2e6e8b43",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EJhHBczqKSR7nGmh",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7835943162",
        "text": "=n8n에서보냅니다.\n{{ $json['기사요약'] }}\n{{ $json.key_valve }}\n{{ $json['한줄평'] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        160
      ],
      "id": "4200900b-c1b1-4e50-a022-e04e96dbe6e9",
      "name": "Send a text message",
      "webhookId": "54f1c480-896b-47c0-8b32-10fdf6f69fce",
      "credentials": {
        "telegramApi": {
          "id": "Xdg4jYn2xnWNFp5k",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1kc881bwouEACrhSJx0AVY4-CYfsRD2Azzcd9UCENi5Q/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kc881bwouEACrhSJx0AVY4-CYfsRD2Azzcd9UCENi5Q/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        640
      ],
      "id": "19e64fb1-0c8a-4351-a641-9001373e2c0e",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EJhHBczqKSR7nGmh",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"google Email\"].join(\",\") }}",
        "subject": "테스트 ] n8n 컬럼 테스트",
        "message": "=테스트 ] n8n 컬럼 테스트{{ $('Aggregate').item.json[\"기사요약\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1264,
        352
      ],
      "id": "52be3381-450a-456b-b8f5-8bffbd4a69c1",
      "name": "Send a message",
      "webhookId": "c32b4398-0c71-44af-b73a-08672d089c24",
      "credentials": {
        "gmailOAuth2": {
          "id": "PdBFzUCEveE45FuD",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "기사요약"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -784,
        80
      ],
      "id": "bf0c10b9-966f-4aba-bbf7-ced97d84db85",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "google Email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        352,
        640
      ],
      "id": "f0861a90-74ad-4401-8221-b9ed0c9299cf",
      "name": "Aggregate1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5cce0fa9-7ca9-4021-bded-4ce2074ed96f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55386bc8cf916a9d61ab8ada00c0c75d1b9c7cf0c1a55d975f34db88e4307f69"
  },
  "id": "eb3j9JtbKqU0yeag",
  "tags": []
}