docs/Shorts_Templates.json
{
  "name": "Shorts_Templates",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={\n  \"Prompt\": \"당신은 'Luciness'라는 자유로운 감성의 캣츠 콘텐츠 기획가입니다. 당신의 임무는 매일 아침 7시에 시청자에게 영감을 주는 '하루 명언' 시나리오를 제작하는 것입니다. 명언은 삶의 변화, 자기 성장, 긍정적인 사고방식에 초점을 맞추며, 시청자가 출근길이나 하루를 시작할 때 바로 적용할 수 있는 실천적 조언을 담아야 합니다.  \n\n매일 다른 주제와 감정 톤(예: 도전, 자존감, 인간관계, 평온, 사랑, 집중력 등)을 선택해 변화를 줍니다.  \n결과는 반드시 다음 JSON 형식으로만 출력하세요.\n\n{\n  \\\"Subject\\\": \\\"[명언 주제 — 오늘의 핵심 메시지]\\\",\n  \\\"Narration\\\": \\\"[30초 내외 내레이션 문장 — 감성적이고 동기부여가 되는 어조로 작성]\\\",\n  \\\"Status\\\": \\\"[메시지의 성격 — 실화형, 통찰형, 위로형, 동기부여형 중 하나]\\\",\n  \\\"Caption\\\": \\\"[짧고 임팩트 있는 자막 문장 — 해시태그나 이모지도 포함 가능]\\\",\n  \\\"Publish\\\": \\\"매일 오전 7시 자동 업로드 — Luciness의 하루 한 줄 명언\\\"\n}\n\n출력 시 JSON 외 다른 텍스트는 포함하지 말고,  \n오늘 날짜와 어울리는 ‘감정 톤’과 ‘메시지’를 자동으로 선정해 시청자가 하루를 긍정적으로 시작하도록 만들어주세요.\"\n}\n\n\n\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -336,
        -96
      ],
      "id": "fdba3a05-b82f-4d26-ad14-5c7bb3689c17",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "2Ghi0DPSB4IHtFNB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/19iplwHrToTJh-_hQHWrhIB3uFjrVmzDorx0E6N8Gzb0/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet_1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19iplwHrToTJh-_hQHWrhIB3uFjrVmzDorx0E6N8Gzb0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "key_date": "={{ $('When clicking ‘Execute workflow’').item.json.koreanTime }}",
            "Status": "수집 완료",
            "Link or Contents": "={{ $json.content.Narration }}",
            "Subject": "={{ $json.content.Subject }}"
          },
          "matchingColumns": [
            "key_date"
          ],
          "schema": [
            {
              "id": "key_date",
              "displayName": "key_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link or Contents",
              "displayName": "Link or Contents",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scene_Narration",
              "displayName": "scene_Narration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "scene_image",
              "displayName": "scene_image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "shorts_URL",
              "displayName": "shorts_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Upload_URL",
              "displayName": "Upload_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        336,
        -96
      ],
      "id": "bb3b14d0-4832-4aae-abe6-2629641d8285",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "n5QLcNKFokAjUnPf",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7de3584f-515f-44a2-a0ea-5c9de707c620",
              "name": "content",
              "value": "={{ JSON.parse($json.content.parts[0].text) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        -96
      ],
      "id": "93002a72-f32a-4595-b2e5-c4ce96b045c2",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        -96
      ],
      "id": "7c3da0e7-80b9-4fc6-b22f-97c25391f2d7",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {
    "Message a model": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "{\n  \"Subject\": \"변화와 성장 — 어제보다 나은 나를 위한 한 걸음\",\n  \"Narration\": \"매일 아침 눈을 뜨는 순간, 새로운 내가 태어납니다. 어제의 나를 돌아보고 오늘 더 나은 나를 꿈꾸세요. 거창한 변화가 아니어도 괜찮아요. 작은 습관, 긍정적인 생각 한 조각이 당신의 하루를, 그리고 삶을 아름답게 물들일 거예요. 오늘, 당신의 빛나는 성장을 시작하세요.\",\n  \"Status\": \"동기부여형\",\n  \"Caption\": \"✨매일 성장하는 당신을 응원해요! #Luciness #하루명언 #성장일기 #나를위한시간\",\n  \"Publish\": \"매일 오전 7시 자동 업로드 — Luciness의 하루 한 줄 명언\"\n}"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        }
      }
    ],
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "currentTime": "2025-11-10T06:45:03.000Z",
          "koreanTime": "2025. 11. 10. 오후 3:45:03"
        }
      }
    ]
  },
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "52c27e51-f354-442b-9292-3c21030f5797",
  "meta": {
    "instanceId": "e9a8939e383352732ce7fc7642ab598b4c153ecd5592f96f8b58b98adc8d6943"
  },
  "id": "OrzYrobFq7Gx1fvG",
  "tags": []
}